@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,400,500,600,700,800&display=swap&subset=latin-ext');

body{
  font-family: 'Montserrat';
}
.videoDiv {
    position: relative;
    display: none;
}

#videoInput {
    border-radius: 10px;
}

#resultado {
    display: none;
    text-align: center;
}

#resultImage {
    border-radius: 10px;
    margin: 0 auto;
}

#navigator {
    text-align: center;
}

.controls {
    position: absolute;
    right: 80px;
    top: 200px;
    display: flex;
}

.process-model li.active a, .process-model li.active a:hover, .process-model li.active a:focus, .process-model li.visited a, .process-model li.visited a:hover, .process-model li.visited a:focus {
    color: #D6DA28 !important;
    background: none !important;
}

.process-model li a {
    color: #11316a !important;

}

#laPaz .nav-tabs>li>a {
    background: none !important;
}

.nav>li>a:focus, .nav>li>a:hover{background: transparent!important;}
.design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
}
.design-process-content {
    border: 1px solid #e9e9e9;
    position: relative;
    padding: 16px 34% 30px 30px;
}
.design-process-content img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 100%;
}
.design-process-content h3 {
    margin-bottom: 16px;
}
.design-process-content p {
    line-height: 26px;
    margin-bottom: 12px;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 700px;
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: 10px;
    top: 13px;
    width: 90%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #D6DA28;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 33%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #11316a;
}
.process-model li.active,
.process-model li.visited {
    color: #11316a;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #11316a;
}
.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;
    color: #11316a;
}
.process-model li i {
    display: block;
    height: 25px;
    width: 25px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 3px solid #8E8E8E;
    padding-top: 10px;
    font-size: 28px;
    border-radius: 50%;
}

.process-model li.complete i {
    background: #11316a;
    border: 3px solid #11316a;
    color: #fff;
    padding-top: 3px;
    font-size: 14px;
    border-radius: 50%;
}

.process-model li.complete i {
    background: #11316a;
    border: 3px solid #11316a;
    color: #fff;
    padding-top: 3px;
    font-size: 14px;
    border-radius: 50%;
}

.process-model li.complete::after {
    background: #11316a none repeat scroll 0 0;
}

.process-model li.complete p {
    color: #11316a;
}

.process-model.more-icon-preocess li {
    width: 19%;
}

.process-model li.active i, .process-model li.visited i  {
    background: #fff;
    border-color: #11316a;
}
.process-model li p {
    font-size: 14px;
    margin-top: 11px;
    color: #8E8E8E;
    text-transform: uppercase;
    font-weight: bold;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #11316a!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none;
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5;
}
.btn {
    font-weight: 600;
    text-transform: none;
    margin-bottom: 10px;
}
.blue-white-btn, .blue-white-btn:hover {
    color: #00843d;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #00843d;
    border-radius: 5px;
    padding: 0.6em;
    transition: all 0.2s ease-in-out 0s;
    min-width: 145px;
}

legend.referencias {
    margin-bottom: 13px;
    font-size: 18px;
    color: #e4004d;
    border: 0;
    border-bottom: 2px solid #e4004d;
}

@media (max-width: 575.98px) {

    #resultImage {
        width:100%;
        max-width:500px;
        height:auto;
    }

    .controls {
        margin-top: 30px;
        position: unset;
        text-align: center;
        display: block;
    }

    .videoDiv.mobile #canvasFrameDocument {
        margin-top: 0px !important;
    }

    #canvasFrameDocument {
        width:100%;
        max-width:500px;
        height:auto;
    }

    video {
       width:100%;
       max-width:500px;
       height:auto;
    }

    .span-card>ul {
        font-size: 13px !important;
        text-align: justify;
        list-style-type: circle;
        padding-left: 0px;
    }

    .play>.fa-camera {
        font-size: 30px;
    }

    #laPaz .navbar-collapse.collapse.show {
        display: block!important;
    }

    .dropdown-menu.show {
        position: static !important;
        float: none !important;
        width: auto !important;
        margin-top: 0 !important;
        background-color: transparent !important;
        border: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .process-model.more-icon-preocess li {
        width: 29%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 9px;
    }
    .more-icon-preocess.process-model li::after {
        top: 9px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }

    .process-model li::after {
        width: 98%;
        right: 0px;
    }

    .nav>li>a {
        padding: 0px !important;
    }

    #navigator {
        padding: 0px !important;
        max-width: 400px;
        min-width: 400px;
        margin: auto 0;
    }

    .modal__text {
        margin: auto 0 !important;
    }

    .modal__text ul {
        padding-left: 0px !important;
    }

    .steps li:nth-child(1) {
      max-width: 110px;
      font-size: 11px;
      padding-top: 16px !important;
    }

    .steps li:nth-child(2) {
      max-width: 130px;
      font-size: 12px;
      padding-top: 10px !important;
    }

    .steps li:nth-child(3) {
      max-width: 110px;
      font-size: 11px;
      padding-top: 10px !important;
    }


    @media (max-width: 380px) {

        #navigator {
            padding: 0px !important;
            max-width: 370px;
            min-width: 370px;
            margin: auto 10px;
        }

        .more-icon-preocess.process-model li p {
            font-size: 8px;
        }

        .modal__text {
            margin: auto 0 !important;
        }

        .modal__text ul {
            padding-left: 0px !important;
        }

        .steps li:nth-child(1) {
            max-width: 80px;
            font-size: 10px;
        }

        .steps li:nth-child(2) {
            max-width: 95px;
            font-size: 11px;
        }

        .steps li:nth-child(3) {
            max-width: 80px;
            font-size: 10px;
        }

    }


    @media (max-width: 360px) {

        #navigator {
            padding: 0px !important;
            max-width: 350px;
            min-width: 350px;
            margin: auto 10px;
        }

        .more-icon-preocess.process-model li p {
            font-size: 8px;
        }

        .modal__text {
            margin: auto 0 !important;
        }

        .modal__text ul {
            padding-left: 0px !important;
        }

        .steps li:nth-child(1) {
            max-width: 85px;
            font-size: 10px;
        }

        .steps li:nth-child(2) {
            max-width: 100px;
            font-size: 11px;
        }

        .steps li:nth-child(3) {
            max-width: 85px;
            font-size: 10px;
        }

    }

    @media (max-width: 320px) {

        #navigator {
            padding: 0px !important;
            max-width: 320px;
            min-width: 320px;
            margin: auto;
        }

        .more-icon-preocess.process-model li p {
            font-size: 7px;
        }

        .modal__text {
            margin: auto 0 !important;
        }

        .modal__text ul {
            padding-left: 0px !important;
        }

        .steps li:nth-child(1) {
            max-width: 80px;
            font-size: 10px;
        }

        .steps li:nth-child(2) {
            max-width: 95px;
            font-size: 11px;
        }

        .steps li:nth-child(3) {
            max-width: 80px;
            font-size: 10px;
        }

    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    #resultImage {
        width: 480px;
        height: 359px;
    }

    .controls {
        margin-top: 30px;
        position: unset;
        text-align: center;
        display: block;
    }

    #canvasFrameDocument {
        width:100%;
        max-width:500px;
        height:auto;
        margin-top: 0px !important;
    }

    video {
       width:100%;
       max-width:500px;
       height:auto;
    }

    .span-card>ul {
        font-size: 15px !important;
        text-align: justify;
        list-style-type: circle;
        padding-left: 0px;
    }

    .play>.fa-camera {
        font-size: 30px;
    }

    .process-model li p {
        font-size: 11px;
    }

    .process-model li::after {
        right: -51px;
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {

    #resultImage {
        width:100%;
        max-width:500px;
        height:auto;
    }

    .controls {
        margin-top: 30px;
        position: unset;
        text-align: center;
        display: block;
    }

    #canvasFrameDocument {
        width:100%;
        max-width:500px;
        height:auto;
        margin-top: 0px !important;
    }

    video {
       width:100%;
       max-width:500px;
       height:auto;
    }

    .span-card>ul {
        font-size: 15px !important;
        text-align: justify;
        list-style-type: circle;
        max-width: 800px;
        margin: auto;
    }


    .play>.fa-camera {
        font-size: 35px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    #resultImage {
        width:100%;
        max-width:500px;
        height:auto;
    }

    .controls {
        margin-top: 30px;
        position: unset;
        text-align: center;
        display: block;
    }

    #canvasFrameDocument {
        width:100%;
        max-width:500px;
        height:auto;
        margin-top: 0px !important;
    }

    video {
       width:100%;
       max-width:500px;
       height:auto;
    }

    .span-card>ul {
        font-size: 15px !important;
        text-align: justify;
        list-style-type: circle;
        max-width: 800px;
        margin: auto;
    }

}

@media (min-width: 1200px) {

    #videoInput {
        width: 680px;
        height: auto;
    }

    #resultImage {
        width: 680px;
    }

    .controls {
        position: absolute;
        right: 80px;
        top: 200px;
        display: flex;
    }

    .span-card>ul {
        font-size: 15px !important;
        text-align: justify;
        list-style-type: circle;
        max-width: 800px;
        margin: auto;
    }

}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.steps {
  max-width: 450px;
  margin: 0px auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.steps a {
  color: #11316a !important;
  text-decoration: none !important;
}

.steps li:last-child a {
  color: #8E8E8E !important;
}

.steps em {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}

.steps li {
  float: left;
  margin-left: 0;
  width: 150px; /* 100 / number of steps */
  height: 112px; /* total height */
  list-style-type: none;
  padding: 5px 5px 5px 5px; /* padding around text, last should include arrow width */
  border-right: 3px solid white; /* width: gap between arrows, color: background of document */
  position: relative;
}
/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
  padding-left: 5px;
  padding-top: 16px;
}
.steps li:last-child {
  padding-top: 16px;
}
/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n+2)::before {
  position: absolute;
  top:0;
  left:0;
  display: block;
  border-left: 5px solid white; /* width: arrow width, color: background of document */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width: 0;
  height: 0;
  content: " ";
}

/* colored arrow to the right */
.steps li::after {
  z-index: 1; /* need to bring this above the next item */
  position: absolute;
  top: 0;
  right: -25px; /* arrow width (negated) */
  display: block;
  border-left: 25px solid #fff /* width: arrow width */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width:0;
  height:0;
  content: " ";
}

.steps li:last-child::after {
    border-left:0px;
}

/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li { background-color: #fff; }
.steps li::after { border-left-color: #fff; }

/* Current */
.steps li.current { background-color: #fff; }
.steps li.current::after { border-left-color: #fff; }

/* Following */
.steps li.current ~ li { background-color: #fff; }
.steps li.current ~ li::after { border-left-color: #fff; }

/* Hover for completed and current */
.steps li:hover {background-color: #fff}
.steps li:hover::after {border-left-color: #fff}

.steps li:nth-child(1) img {
    width: 35px;
    margin-bottom: 5px;
}

.steps li:nth-child(2) img {
    width: 45px;
    margin-bottom: 5px;
}

.steps li:nth-child(3) img {
    width: 35px;
    margin-bottom: 5px;
}

.steps {
    display: inline-block;
}

.dropzone {
    text-align: center;
}
