.loader {
    left: 0;
    width: 100%;
    min-height: 540px;
    z-index: 9!important;
    background: url(/images/loading.gif) 50% 50% no-repeat #f9f9f9!important;
    opacity: .8;
    position: absolute;
}

.modalLoading {
    background-color: rgba(0,0,0,.2) !important;
    width: 100% !important;
    height: 100% !important;
}

.modalLoading p {
    color: #fff;
    font-size: medium;
    font-weight: bolder;
}

.modaloferta {
    width: 500px !important;
    padding: 0px 0px 20px 0px !important;
    border-radius: 5px !important;
}

.modalConfianza {
    width: 500px !important;
    padding: 0px 0px 20px 0px !important;
    border-radius: 5px !important;
}

.tipsWebapp {
    padding: 0px 0px 20px 0px !important;
    border-radius: 5px !important;
}

.tipsWebapp .swal2-title {
    display: flex;
    color: #FFFFFF!important;
    margin: 10px !important;
    min-height: 30px;
    margin-top: 15px !important;
}

.modalstatus {
    width: 500px !important;
    padding: 0px 0px 20px 0px !important;
    border-radius: 5px !important;
}

.modalDocumentos {
    width: 700px !important;
    padding: 0px 0px 20px 0px !important;
    border-radius: 5px !important;
}

.modal__heading  {
    background-color: #92133E !important;
    margin: 0px;
    min-height: 50px;
}

.titulo-dinamico {
    color: #FFF;
    margin-top: 0px;
    margin-bottom: 10px;
}

@media (max-width: 575.98px) {

    .modal__heading  {
        padding-bottom: 5px;
    }

}

.logo {
    width: 180px;
}

.modal__emoji {
    text-align: center;
    margin: 20px;
}

.modal__text {
    font-size: medium;
    font-weight: bolder;
    margin: 15px;
}

.modal__text li {
    color: #E4004D
}

.modal__text ul {
    margin: 15px;
}

.dato {
    color: #545454;
}

.condiciones {
    font-style: italic;
    font-size: 0.65em;
    font-weight:bold;
}

.btn-notok {
    background-color: #837A6C;
}

.btn-ok {
    background-color: #D33D3E;
}

.btn-ok:hover {
    background-color: #F37333;
    color: #545454 !important;
}

.btn-notok:hover {
    background-color: #F7CB3B;
    color: #545454 !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
    outline-offset: -2px;
    color: #FFF;
}

.btn, .btn:hover {
    color: #FFF;
    font-weight: bolder;
}

.btn {
    font-size: 17px !important;
}

.btn-oferta {
    background-color: #fff;
    border-color: #92133E;
    border-radius: 5px;
    border-width: 2px;
    color: #92133E;
    text-transform: uppercase;
    padding: .8em;
    opacity: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    min-width: 35px;
    border-style: solid;
    cursor: pointer;
}

.btn-oferta:hover {
    background-color: #92133E;
}

.datos_oferta {
    border-color: #92133E;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    width: 80%;
    margin: 0 auto;
}

.btn-oferta-clicked {
    background-color: #92133E;
    border-color: #92133E;
    border-radius: 5px;
    border-width: 2px;
    color: #fff;
    border-bottom: none;
    position: relative;
}

.btn-oferta-clicked:after,
.btn-oferta-clicked:after {

    position: absolute;
    top: 98.1%;
    left: 55%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 15px #92133E;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;

}

.modalError {
    width: 400px !important;
    padding: 0px 0px 20px 0px !important;
    border-radius: 5px !important;
}

.modalError .swal2-header {
    background-color: #11316a;
    border-radius: 5px 5px 0px 0px !important;
}

.modalError .swal2-title {
    display: flex;
    color: #FFFFFF!important;
    margin: 10px !important;
}

.swal2-icon.swal2-error {
    border-color: white;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    background-color: white;
}

.modalError .swal2-content {
    font-weight: 500 !important;
    margin: 20px !important;
    font-size: 18px !important;
}

.tipsWebapp .swal2-header {
    border-radius: 5px 5px 0px 0px !important;
    background-color: #2790ce;
}

.modalstatus .swal2-header {
    background-color: #11316a;
    border-radius: 5px 5px 0px 0px !important;
}

.modalstatus .modal-header {
    background-color: #11316a;
    display: block;
    color: #fff;
    border-top-left-radius: unset;
    border-top-right-radius: unset;

}

.modalstatus .modal-content {
    border-radius: unset !important;
    border: unset !important;
}

.modal__heading {
    background-color: #2790ce !important;
    margin: 0px;
    min-height: 50px;
}

.swal2-styled {
    cursor: pointer;
    font-style: normal!important;
    padding: 10px 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    outline: none !important;
    padding: 12px 35px;
    display: inline-block;
    margin: 5px;
    background: #fff !important;;
    border: solid 1px #44b4f6 !important;
    border-radius: 5px;
    color: #44b4f6 !important;
    font-size: 13px !important;
}

.swal2-styled:hover {
    background: #2790ce !important;
    color: #fff !important;
}

.modalstatus #terminaFlujo {
    cursor: pointer;
    font-style: normal!important;
    padding: 10px 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    outline: none !important;
    padding: 12px 35px;
    display: inline-block;
    margin: 5px;
    background: #fff !important;;
    border: solid 1px #44b4f6 !important;
    border-radius: 5px;
    color: #44b4f6 !important;
    font-size: 13px !important;
}

.modalstatus #terminaFlujo:hover {
    background: #2790ce !important;
    color: #fff !important;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}

.modalDocumentos .swal2-header {
    background-color: #2790ce;
    border-radius: 5px 5px 0px 0px !important;
}

.modalstatus .modal__text li {
    color: #92133E;
}

.modalDocumentos .modal__text li {
    color: #92133E;
}

.modalstatus .terminaFlujo {
    cursor: pointer;
    font-style: normal!important;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: none !important;
    padding: 12px 35px;
    display: inline-block;
    margin: 5px;
    -webkit-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    transform: skew(-15deg);
    color: white!important;
    background: #FF1952 !important;
    background: -moz-linear-gradient(left, #FF1952 0%, #CE123E 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, #FF1952), color-stop(100%, #CE123E)) !important;
    background: -webkit-linear-gradient(left, #FF1952 0%, #CE123E 100%) !important;
    background: -o-linear-gradient(left, #FF1952 0%, #CE123E 100%) !important;
    background: -ms-linear-gradient(left, #FF1952 0%, #CE123E 100%) !important;
    background: -webkit-gradient(linear, left top, right top, from(#FF1952), to(#CE123E)) !important;
    background: linear-gradient(to right, #FF1952 0%, #CE123E 100%) !important;
    font-size: 13px !important;
}

.modalConfianza .modal__text li {
    color: #92133E;
}

.modalConfianza .modal__text ul {
    list-style: none;
}

.modalConfianza .swal2-header {
    background-color: #92133E;
    border-radius: 5px 5px 0px 0px !important;
}

.modalConfianza .swal2-title {
    color: #fff !important;
    margin: 20px !important;
}

@media (max-width: 400px) {

    .modaloferta {
        max-width: -webkit-fill-available !important;
    }

    .modalError {
        max-width: -webkit-fill-available !important;
    }

    .modalstatus {
        max-width: -webkit-fill-available !important;
    }

    .modalConfianza {
        max-width: -webkit-fill-available !important;
    }

    .ofertas {
        margin-bottom: 14px;
    }

    .datos_oferta {
        width: 100%;
        margin: 0 auto;
    }

    #aceptarOfertaDoble {
        font-size: 12px !important;
    }

    .modal__text ul {
        margin-left: 0px;
        padding-left: 15px;
    }

    .btn-oferta {
        font-size: 15px !important;
    }

}

@media (min-width: 1024px) {
    .ofertas {
        margin-bottom: 14px;
    }
}

#laPaz .product-header .item .slider-info-block .slider-title {
    color: #E4004D !important;
}

#laPaz .product-header .item .slider-info-block {
    border-color: #E4004D !important;
}

#laPaz .secondary-title {
    color: #E4004D!important;
}

#laPaz #footer {
    background: #E4004D!important;
}
