body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
label {
	text-transform: uppercase;
}

small{
	color:#999;
}
.kamikaze-brand{
	color:#C62026;
}
.preview_segmento_list{
	list-style: none;
	display:inline-block;
	padding:0 0 0 25px;
	margin:0;
}

.preview_segmento_list li{
	display:inline-block;
}

.seg-label {
	color:#2d3db7;
}

.seg-count {
	color:#3dbf5f;
}

.panel-title{
	margin-bottom:10px;
	text-transform: uppercase;
}

.tip-btn{
	margin-left:5px;
	margin-top:-4px;
}

.tip-btn:hover{
	cursor:pointer;
}

.req-label{
	color:red;
}

.badge.tip-btn{
	background-color:#EBEBEB;
}

.badge.tip-btn:hover{
	background-color:#2b6cce;
}

.navbar-brand img{
	height:20px;
	width:auto;
}

.navbar-inverse{
		border-radius:0;
}

#gen_bcscore_request_submit{
	width:300px;
	padding:10px;
	margin:10px auto 200px auto;
}


@media (min-width: 768px) {
	.navbar-inverse{
		border-radius:0;
	}
}

#login-panel{
	max-width:400px;
	margin:100px auto;
}

#solicitud_hawk_submit{
	margin:10px auto 100px auto;
	width:400px;
}

#solicitud_bc_submit{
	margin:10px auto 20px auto;
	width:400px;
}

#bcscore-result-msg{
	margin-bottom:100px;
}


.autorizar-text{
	margin-bottom:-15px;
}

#sms_register_test_page input, #sms_register_test_page select{
	text-transform: uppercase;
}

.reporte-section-btn{
	margin-top:10px;
}

.modal-footer{
	border-top:none;
}