<template>
<div id="panel">
    <section class="invoice panel panel-default" v-if='id != null'>
        <div class="row panel-heading">
            <div class="col-xs-5">
                <h3> Solicitud # {{ id }} </h3> <br>
                <strong> <a v-bind:href="'/panel/prospecto/' + solicitud.prospecto.id"><i class="fas fa-arrow-left"></i>  {{ solicitud.prospecto.nombres | uppercase}} {{ solicitud.prospecto.apellido_paterno | uppercase}} {{ solicitud.prospecto.apellido_materno | uppercase}} </a></strong>
            </div>
            <div class="col-xs-2" style="margin-top: 20px;">
                <strong>FECHA DE SOLICITUD</strong><br> {{ solicitud.created_at_disp }}
            </div>
            <div class="col-xs-2" style="margin-top: 20px;">
                <strong>STATUS</strong><br> {{ solicitud.status }}
            </div>
            <div class="col-xs-2" style="margin-top: 20px;">
                <strong>SUBSTATUS</strong><br> {{ solicitud.sub_status }}
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- Datos del Prestamo -->
            <div class="col-md-8 offset-md-2">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title"><b> Datos del prestamo</b> </h3>
                        <div class="box-tools pull-right">
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-toggle="collapse" href="#datos_prestamo" @click="show_datos_prestamo = !show_datos_prestamo">
                                    <i v-if='show_datos_prestamo == false' class="fa fa-plus"></i>
                                    <i v-else class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body collapse" id="datos_prestamo">
                        <table class="table no-margin">
                            <tbody>
                                <tr>
                                    <th>PRESTAMO:</th>
                                    <td>{{ solicitud.prestamo }}</td>
                                </tr>
                                <tr>
                                    <th>PLAZO:</th>
                                    <td>{{ solicitud.plazo }}</td>
                                </tr>
                                <tr>
                                    <th>FINALIDAD:</th>
                                    <td>{{ solicitud.finalidad | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th>EQUIO LEASING:</th>
                                    <td>{{ solicitud.equipo_leasing | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th>PAGO ESTIMADO:</th>
                                    <td>{{ solicitud.pago_estimado }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Datos de la oferta -->
                <div class="box box-success">
                    <div class="box-header" v-if='datos_oferta.status_oferta != "" && datos_oferta.decision == "Invitación a Continuar"'>
                        <h3 class="box-title"><b> Datos de la oferta</b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="'#datos_oferta" @click="show_datos_oferta = !show_datos_oferta">
                                <i v-if='show_datos_oferta == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" id="datos_oferta">
                        <div class="box" v-if='datos_oferta.status_oferta != ""' style="border-top: none !important">
                            <div class="box-header">
                                <table class="table no-margin">
                                    <tbody>
                                        <tr>
                                            <th>STATUS OFERTA:</th>
                                            <td v-if='datos_oferta.status_oferta !== null'>{{ datos_oferta.status_oferta | uppercase }}</td>
                                            <td v-else> NO SE HA RECIBIDO RESPUESTA</td>

                                            <th>TIPO DE OFERTA:</th>
                                            <td v-if='datos_oferta.tipo !== null'>{{ datos_oferta.tipo | uppercase }}</td>
                                            <td v-else> OFERTA NORMAL </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-body"  v-if = "datos_oferta.status_oferta != 'Oferta Rechazada' && (datos_oferta.ejecucion_sp == 1)">
                                <div class="box box-primary col-6" style="display: inline-block;" v-for="(respuesta, index) in datos_oferta.oferta">
                                    <div class="box-header">
                                        <span v-if = "respuesta.status_oferta == 'Oferta Aceptada' && respuesta.elegida == 1"  style="color: green"><i class="fas fa-check"> </i> {{ respuesta.tipo_oferta.replace('_', ' ') | uppercase }} </span>
                                        <span v-else-if = "respuesta.status_oferta == 'Oferta Aceptada' && respuesta.elegida == 0" style="color: red"><i class="fas fa-times"> </i> {{ respuesta.tipo_oferta.replace('_', ' ') | uppercase }} </span>
                                        <span v-else-if = "respuesta.status_oferta === null"><i class="far fa-hourglass"> </i> {{ respuesta.tipo_oferta.replace('_', ' ') | uppercase }} </span>
                                    </div>
                                    <div class="box-body">
                                        <table class="table no-margin">
                                            <tbody>
                                                <tr>
                                                    <th width="40%">MONTO:</th>
                                                    <td v-if='respuesta.monto != null'>
                                                        {{ respuesta.monto | uppercase }}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">PLAZO:</th>
                                                    <td v-if='respuesta.plazo != null'>
                                                        {{ respuesta.plazo | uppercase }}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">PAGO ESTIMADO:</th>
                                                    <td v-if='respuesta.pago != null'>
                                                        {{ respuesta.pago | uppercase}}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">TASA:</th>
                                                    <td v-if='respuesta.tasa != null'>
                                                        {{ respuesta.tasa | uppercase }}
                                                    </td>
                                                    <td v-else></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body" v-else>
                                <table class="table no-margin">
                                    <tbody v-if = "datos_oferta.oferta[0].status_oferta !== null">
                                        <tr>
                                            <th width="40%">MOTIVO RECHAZO:</th>
                                            <td>{{ datos_oferta.oferta[0].motivo_rechazo }}</td>
                                        </tr>
                                        <tr v-if='datos_oferta.oferta[0].motivo_rechazo == "OTRO"'>
                                            <th width="40%">DESCRIPCION:</th>
                                            <td>{{ datos_oferta.oferta[0].descripcion_otro }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="box box-primary col-6" style="display: inline-block;" v-for="(respuesta, index) in datos_oferta.oferta">
                                    <div class="box-header">
                                        <span v-if = "respuesta.status_oferta == 'Oferta Rechazada' && datos_oferta.status_oferta == 'Oferta Rechazada' && respuesta.tipo_oferta !== null"  style="color: red"><i class="fas fa-times"> </i> {{ respuesta.tipo_oferta.replace('_', ' ') | uppercase }} </span>
                                        <span v-else-if = "respuesta.status_oferta == 'Oferta Rechazada' && respuesta.tipo_oferta === null"  style="color: red"><i class="fas fa-times"> </i> Oferta Normal </span>
                                    </div>
                                    <div class="box-body">
                                        <table class="table no-margin">
                                            <tbody>
                                                <tr>
                                                    <th width="40%">MONTO:</th>
                                                    <td v-if='respuesta.monto != null'>
                                                        {{ respuesta.monto | uppercase }}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">PLAZO:</th>
                                                    <td v-if='respuesta.plazo != null'>
                                                        {{ respuesta.plazo | uppercase }}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">PAGO ESTIMADO:</th>
                                                    <td v-if='respuesta.pago != null'>
                                                        {{ respuesta.pago | uppercase}}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">TASA:</th>
                                                    <td v-if='respuesta.tasa != null'>
                                                        {{ respuesta.tasa | uppercase }}
                                                    </td>
                                                    <td v-else></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <!-- Datos del Usuario -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"><b> Datos del usuario</b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#datos_usuario" @click="show_datos_usuario = !show_datos_usuario">
                                <i v-if='show_datos_usuario == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="datos_usuario">
                        <table class="table no-margin">
                            <tbody>
                                <tr>
                                    <th width="40%">Id:</th>
                                    <td>{{ solicitud.prospecto_id }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">Correo electrónico:</th>
                                    <td>{{ solicitud.prospecto.email }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">Contraseña:</th>
                                    <td v-if="solicitud.prospecto.encryptd != ''">
                                        <input type="password" id="password" disabled class="form-control-sm col-4" style="display: inline-block" :value="solicitud.prospecto.encryptd"> </input>
                                        <button type="button" id="verPassword" class="btn btn-sm btn-warning col-3" v-on:click='verPassword()'> Mostrar </button>
                                        <button type="button" id="ocultarPassword" class="btn btn-sm btn-primary col-3" v-on:click='ocultarPassword()' style="display:none"> Ocultar </button>
                                    </td>
                                    <td v-else>
                                        N/A
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%">NOMBRE:</th>
                                    <td>{{ solicitud.prospecto.nombres | uppercase}}</td>
                                </tr>
                                <tr>
                                    <th width="40%">APELLIDO PATERNO:</th>
                                    <td>{{ solicitud.prospecto.apellido_paterno | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">APELLIDO MATERNO:</th>
                                    <td>{{ solicitud.prospecto.apellido_materno | uppercase }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Datos de la empresa -->
                <div class="box box-info" v-if='solicitud.datos_empresa'>
                    <div class="box-header">
                        <h3 class="box-title"><b> Datos de la Empresa</b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#datos_empresa" @click="show_datos_empresa = !show_datos_empresa">
                                <i v-if='show_datos_empresa == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="datos_empresa">
                        <table class="table no-margin">
                            <tbody>
                                <tr>
                                    <th width="40%">NOMBRE DE EMPRESA:</th>
                                    <td>{{ solicitud.datos_empresa.nombre_empresa | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">TIPO DE PROPIEDAD:</th>
                                    <td>{{ solicitud.datos_empresa.tipo_propiedad }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">FECHA DE FUNDACIÓN:</th>
                                    <td>{{ solicitud.datos_empresa.fecha_fundacion }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">DESCRIPCIÓN DE LA EMPRESA:</th>
                                    <td>{{ solicitud.datos_empresa.descripcion_empresa }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">CP:</th>
                                    <td>{{ solicitud.datos_empresa.cp }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">DIRECCIÓN EMPRESA:</th>
                                    <td>{{ solicitud.datos_empresa.calle | uppercase }} </td>
                                </tr>
                                <tr>
                                    <th width="40%">CIUDAD:</th>
                                    <td>{{ solicitud.datos_empresa.ciudad | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">ESTADO:</th>
                                    <td>{{ solicitud.datos_empresa.estado | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">PAIS:</th>
                                    <td>{{ solicitud.datos_empresa.pais | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">VENTAS MENSUALES:</th>
                                    <td>{{ solicitud.datos_empresa.ventas_mensuales }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">MARGEN DE VENTAS:</th>
                                    <td>{{ solicitud.datos_empresa.margen_ventas }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">NÚMERO DE EMPLEADOS:</th>
                                    <td>{{ solicitud.datos_empresa.numero_empleados }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">¿ES ÚNICO DUEÑO?:</th>
                                    <td>{{ solicitud.datos_empresa.unico_dueño  }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">OTROS NOMBRES COMERCIALES:</th>
                                    <td>{{ solicitud.datos_empresa.otros_nombres_comerciales }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">MONTO DE CUENTAS POR COBRAR:</th>
                                    <td>{{ solicitud.datos_empresa.monto_cuentas_cobrar }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">DEUDAS DE IMPUESTOS:</th>
                                    <td>{{ solicitud.datos_empresa.deudas_impuestos }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">DEUDAS DE LA EMPRESA:</th>
                                    <td>{{ solicitud.datos_empresa.deudas_empresa }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">DEUDAS COMERCIALES:</th>
                                    <td>{{ solicitud.datos_empresa.deudas_comerciales }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">NÚMERO SEGURIDAD SOCIAL:</th>
                                    <td>{{ solicitud.datos_empresa.nss }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">LICENCIA DE CONDUCIR:</th>
                                    <td>{{ solicitud.datos_empresa.licencia_conducir }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">DEPOSITOS MENSUALES:</th>
                                    <td>{{ solicitud.datos_empresa.depositos_mensuales }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">SALDO MENSUAL:</th>
                                    <td>{{ solicitud.datos_empresa.saldo_mensual }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Datos del socio -->
                <div class="box box-info" v-if='solicitud.datos_socios'>
                    <div class="box-header">
                        <h3 class="box-title"><b> Datos del Socio</b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#datos_socio" @click="show_datos_socio = !show_datos_socio">
                                <i v-if='show_datos_socio == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="datos_socio">
                        <table class="table no-margin">
                            <tbody>
                                <tr>
                                    <th width="40%">NOMBRE:</th>
                                    <td>{{ solicitud.datos_socios.nombre_completo | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">FECHA DE NACIMIENTO:</th>
                                    <td>{{ solicitud.datos_socios.fecha_nacimiento }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">EMAIL:</th>
                                    <td>{{ solicitud.datos_socios.email | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">TELÉFONO:</th>
                                    <td>{{ solicitud.datos_socios.telefono }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">DIRECCIÓN:</th>
                                    <td>{{ solicitud.datos_socios.direccion_completa | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">PORCENTAJE DE PARTICIPACIÓN:</th>
                                    <td>{{ solicitud.datos_socios.porcentaje_participacion }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-8 offset-md-2">
                <!-- Ultimo punto de registro -->
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title"><b> Ultimo punto de registro </b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#ultimo_punto_registro" @click="show_ultimo_punto_registro = !show_ultimo_punto_registro">
                                <i v-if='show_ultimo_punto_registro == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="ultimo_punto_registro">
                        <table class="table no-margin" style="table-layout: fixed; word-wrap: break-word;">
                            <tbody>
                                <tr v-for="(mensaje, index) in solicitud.tracking">
                                    <td width="25%">
                                        {{ mensaje.status }}
                                    </td>
                                    <td width="25%">
                                        {{ mensaje.sub_status }}
                                    </td>
                                    <td width="25%">
                                        {{ mensaje.created_at }}
                                    </td>
                                    <td width="25%">
                                        {{ mensaje.descripcion }}
                                    </td>
                                </tr>
                                <!--
                                <tr v-if='solicitud.ultimo_punto_registro.length == 0'>
                                    No exiten registros de log
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Ultimo mensaje al usuario -->
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title"><b> Ultimo mensaje al usuario (Log de consola) </b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#ultimo_mensaje_usuario" @click="show_ultimo_mensaje_usuario = !show_ultimo_mensaje_usuario">
                                <i v-if='show_ultimo_mensaje_usuario == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="ultimo_mensaje_usuario">
                        <table class="table no-margin" style="table-layout: fixed; word-wrap: break-word;">
                            <tbody>
                                <tr v-for="(mensaje, index) in solicitud.ultimo_mensaje_usuario">
                                    <td width="30%">
                                        <b>{{ mensaje.datetime }}</b>
                                    </td>
                                    <td v-if='solicitud.ultimo_mensaje_usuarioLog == false'>
                                        <span v-for="(item, key) in JSON.parse(mensaje.console_log)">
                                            <div v-if='isObject(item)'>
                                                <b>{{ key }}: </b><br>
                                                <span style="margin-left: 10px" v-for="(itemB, keyB) in item" v-if="keyB != 'pago_mensual_debug'
                                                    && keyB !== 'mop1_report'
                                                    && keyB !== 'cuentas_con_mop2_debug'
                                                    && keyB !== 'cuentas_con_mop3_debug'
                                                    && keyB !== 'pago_mensual_debug'">
                                                    <b>{{ keyB }}: </b> <span v-html="itemB"></span><br>
                                                </span>
                                            </div>
                                            <div v-else>
                                                <b>{{ key }}: </b> {{ item }} <br>
                                            </div>
                                        </span>
                                    </td>
                                    <td v-else>
                                        <span v-for="(item, key) in mensaje.console_log">
                                            <div v-if='isObject(item)'>
                                                <b>{{ key }}: </b><br>
                                                <span style="margin-left: 10px" v-for="(itemB, keyB) in item" v-if="keyB != 'pago_mensual_debug'
                                                    && keyB !== 'mop1_report'
                                                    && keyB !== 'cuentas_con_mop2_debug'
                                                    && keyB !== 'cuentas_con_mop3_debug'
                                                    && keyB !== 'pago_mensual_debug'">
                                                    <b>{{ keyB }}: </b> <span v-html="itemB"></span><br>
                                                </span>
                                            </div>
                                            <div v-else>
                                                <b>{{ key }}: </b> {{ item }} <br>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <!--<tr v-if='solicitud.ultimo_mensaje_usuario.length == 0'>
                                    No exiten registros de log
                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="invoice" v-else>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3 class="page-header">
                    <center> Obteniendo información de la solicitud </center>
                </h3>
                <br>
                <center><img src='/credito-real/img/loading.gif' alt='Cargando...' style='height: 100px'></img></center>
            </div>
        </div>
    </section>
</div>
</template>
<script>

export default {
  props: ['solicitud_id'],
  data: function() {
    return {
      term: '',
      id: null,
      solicitud: {},
      datos_empresa: false,
      datos_socio: false,
      show_datos_prestamo: false,
      show_datos_oferta: false,
      show_datos_usuario: false,
      show_datos_socio: false,
      show_datos_empresa: false,
      show_ultimo_punto_registro: false,
      show_ultimo_mensaje_usuario: false,
      datos_oferta: {
          tipo: '',
          status_oferta: '',
          oferta: [],
          decision: '',
      },
    }
  },
  filters: {
    uppercase: function(v) {
      return v.toUpperCase();
    }
  },
  mounted() {
    this.getResults(this.solicitud_id);
  },
  methods: {
    isObject: function(o) {
        return typeof o == "object"
    },
    verPassword: function() {
        $("#password").prop("type", "text");

        $('#verPassword').hide();
        $('#ocultarPassword').show();
    },
    ocultarPassword: function() {
        $("#password").prop("type", "password");
        $('#verPassword').show();
        $('#ocultarPassword').hide();
    },
    getResults(solicitud_id) {
        var detalleSolicitud = this;
    	axios.get('/panel/prospecto/getDetalleSolicitud/' + solicitud_id)
		.then(function (response) {
            
            detalleSolicitud.id = response.data.id;
            detalleSolicitud.solicitud = response.data;
            detalleSolicitud.datos_empresa = response.data.datos_empresa !== null;
            detalleSolicitud.datos_socios = response.data.datos_socios !== null;
            
            detalleSolicitud.ultimo_mensaje_usuarioLog = detalleSolicitud.solicitud.ultimo_mensaje_usuarioLog;
            
            detalleSolicitud.datos_oferta.decision = 'Invitación a Continuar';

            if (detalleSolicitud.solicitud.respuesta_maquina_riesgos) {

                $.each(detalleSolicitud.solicitud.respuesta_maquina_riesgos, function( index, respuesta ) {
                    if (respuesta.status_oferta !== null) {
                        detalleSolicitud.datos_oferta.status_oferta = respuesta.status_oferta;
                    }
                    if (detalleSolicitud.datos_oferta.status_oferta === null) {
                        detalleSolicitud.datos_oferta.tipo = 'Oferta normal';
                        detalleSolicitud.datos_oferta.status_oferta = 'NO SE HA RECIBIDO RESPUESTA';
                    }
                    detalleSolicitud.datos_oferta.decision = respuesta.decision;
                    detalleSolicitud.datos_oferta.oferta[index] = respuesta;
                    

                });
            }

        });
    }
  },
}

</script>
