<template>
<div id="panel">
    <section v-if='id != null'>
        <h2> Prospecto </h2>
        <div class="panel panel-default col-12">
            <div class="panel-heading">
                <h4> Solicitudes del Cliente #{{ prospecto.id }} {{ prospecto.nombres | uppercase }} {{ prospecto.apellido_paterno | uppercase }} {{ prospecto.apellido_materno | uppercase }} </h4>
            </div>
            <div class="col-12 panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th> Id </th>
                            <th> Fecha inicio </th>
                            <th> Actualizacion </th>
                            <th> Status </th>
                            <th> Substatus </th>
                            <th> Producto </th>
                            <th> Prestamo </th>
                            <th> Plazo </th>
                            <!-- <th> Finalidad </th> -->
                            <th> Pago estimado </th>
                            <!-- <th> Encontrado </th>
                            <th> BC Score </th>
                            <th> Micro Score </th> -->
                        </tr>
                         <tr v-for='solicitud in prospecto.solicitudes_v2'>
                            <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.id }} </a> </td>
                            <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.created_at_disp }} </a> </td>
                            <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.updated_at_disp }} </a> </td>
                            <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.status }} </a> </td>
                            <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.sub_status }} </a> </td>
                            <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.nombre_producto }} </a> </td>
                            <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.prestamo }} </a> </td>
                            <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.plazo }} </a> </td>
                            <!-- <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.finalidad }} </a> </td> -->
                            <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.pago_estimado }} </a> </td>
                            <!-- <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.encontrado | uppercase }} </a> </td>
                            <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.score_bc }} </a> </td>
                            <td> <a v-bind:href="'/panel/prospecto/solicitud/' + solicitud.id"> {{ solicitud.score_micro }} </a> </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
    <section v-else>
        <div class="panel panel-default col-12">
            <h3 class="panel-heading">
                <center> Obteniendo información del prospecto </center>
            </h3>
            <br>
            <center><img src='/credito-real/img/loading.gif' alt='Cargando...' style='height: 100px'></img></center>
        </div>
    </section>
</div>
</template>
<script>

export default {
  props: ['prospecto_id'],
  data: function() {
    return {
      prospecto : {},
      id : null,
    }
  },
  filters: {
    uppercase: function(v) {
      return v.toUpperCase();
    }
  },
  mounted() {
    this.getResults(this.prospecto_id);
  },
  methods: {
    getResults(prospecto_id) {
        var detalleProspecto = this;
    	axios.get('/panel/prospecto/getDetalleProspecto/' + prospecto_id)
		.then(function (response) {
      console.log(response);
            detalleProspecto.id = response.data.id;
			detalleProspecto.prospecto = response.data;
        });
    }
  },
}

</script>
