<template>
<div id="panel">
    <section class="content-header">
        <fieldset>
            <div class="box-header" >
                <h3 class="box-title"><b>Prospectos</b></h3>
            </div>
            <div class="box-body row">
                <div class="col-12">
                    <div class="input-group col-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search active" aria-hidden="true"></i></span>
                        </div>
                        <input class="form-control" type="text" placeholder="Buscar" aria-label="Search" v-on:keyup.enter="getResults()" v-model="term" aria-describedby="basic-addon1">
                    </div>
                    <hr>
                </div>
                <div class="col-12">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th> Id </th>
                                <th> Actualizado </th>
                                <th> Nombre del prospecto </th>
                                <th> Celular </th>
                                <th> Email </th>
                                <th> Producto </th>
                                <th> Referencia </th>
                                <th> Ultimo status </th>
                            </tr>
                            <tr v-if="noResults == 0 && searching == 0" v-for="prospecto in prospectos.data" :key="prospecto.id">
                                <td> <a v-bind:href="'/panel/prospecto/' + prospecto.id"> {{ prospecto.id }} </a> </td>
                                <td> <a v-bind:href="'/panel/prospecto/' + prospecto.id"> {{ prospecto.updated_at }} </a> </td>
                                <td> <a v-bind:href="'/panel/prospecto/' + prospecto.id"> {{ prospecto.nombre }} {{ prospecto.apellido_p }} {{ prospecto.apellido_m }}  </a> </td>
                                <td> <a v-bind:href="'/panel/prospecto/' + prospecto.id"> {{ prospecto.cel }} </a> </td>
                                <td> <a v-bind:href="'/panel/prospecto/' + prospecto.id"> {{ prospecto.email }} </a> </td>
                                <td> <a v-bind:href="'/panel/prospecto/' + prospecto.id"> {{ prospecto.producto }} </a> </td>
                                <td> <a v-bind:href="'/panel/prospecto/' + prospecto.id"> {{ prospecto.referencia }} </a> </td>
                                <td> <a v-bind:href="'/panel/prospecto/' + prospecto.id"> {{ prospecto.ultimo_status }} </a> </td>
                            </tr>
                            <tr v-if="noResults">
                				<td colspan="8"> No hay resultados que coincidan con el criterio de búsqueda... </td>
                			</tr>
                            <tr v-if="searching">
                				<td colspan="8">Buscando...</td>
                			</tr>
                        </tbody>
                    </table>
                    <center>
                        <pagination :data="prospectos" @pagination-change-page="getResults" :limit=5>
                    	    <span slot="prev-nav">&lt; Anterior</span>
                    	    <span slot="next-nav">Siguiente &gt;</span>
                        </pagination>
                    </center>
                </div>
            </div>
        </fieldset>
    </section>
</div>
</template>
<script>

export default {
  data: function() {
    return {
      term: '',
      prospectos: {},
      noResults: false,
	  searching: false,
    }
  },
  mounted() {
    this.getResults();
  },
  methods: {
    getResults(page = 1) {
        var term = this.term;
        var panel = this;
        this.searching = true;
        if (term != '') {
            term = '&term=' + term;
        }
    	axios.get('panelv2/getProspectos?page=' + page + term)
		.then(function (response) {
            panel.searching = false;
			panel.prospectos = response.data;
            panel.noResults = panel.prospectos.data.length === 0;
        });
    }
  },
}

</script>
