@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@blanco: #f0f2fa;
@verde: #4cad5c;
@azul1: #00aae2;
@azul2: #11316a;
@azul3: #16243d;
@azul4: #11316a;
@negro: #222222;
@gris: #888888; 
@bg: #e2e8f6;

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    width: 100%;
}
a {
    text-decoration: none;
}
h3 {
    text-transform: uppercase;
}
.BtnCredito {
    background: @azul2;
    color: @blanco;
    border-radius: 0.3em;
    padding: 0.5em 1.3em;
    font-weight: 500;
}
.BtnCredito:hover {
    background: darken(@azul2, 10%);
    color: @blanco;
}
.Underline {
    text-decoration: underline;
    padding: 0 0 0.2em 0;
}
.Back1 {
    background: @azul1;
    border: none;
    color: @blanco;
}
.Back2 {
    background: @azul2;
    border: none;
    color: @blanco;
}
.Back3 {
    background: @azul3;
    border: none;
    color: @blanco;
}
.Back4 {
    background: @verde;
    border: none;
    color: @blanco;
}
.Back5 {
    background: @gris;
    border: none;
    color: @blanco;
}
.modal {
    .modal-content {
        text-align: center;
        border-radius: 1.3em 1.3em 0 0;
        h3 {
            text-transform: initial;
            font-size: 2.9em;
            color: @azul2;
            
        }
        .modal-title, .btn-close {
            display: inline-block;
            vertical-align: middle;
        }
        .modal-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.7em;
        }
        .btn-close {
            color: @blanco;
            float: right;
            margin-top: 0.3em;
        }
        .modal-header {
            background: @azul2 !important;
            color: @blanco;
            text-align: center;
            border-radius: 1em 1em 0 0;
            display: inline-block;
            padding: 0.6em 1.0em;
        }
        .modal-header:after {
            content: '';
            position: absolute;
            left: 43%;
            top: 3em;
            width: 0; 
            height: 0; 
            border-right: 35px solid transparent;
            border-left: 35px solid transparent;
            border-top: 26px solid @azul2;  
        }
        .modal-body {
            padding: 1.4em 1.2em;
            
            strong {
                font-weight: 600;
                color: @azul4;
            }
        }
    }
    .cols {
        vertical-align: middle;
        display: inline-block;
        width: 32%;
        line-height: 1.1em;margin-bottom: 1em;
    }
}
.modal-backdrop {
    background-color: @azul3;
}
.modal-backdrop.show {
    opacity: 0.9;
}
.ModalLogin {
    
}
.Olvidar {
    color: @azul3;
    a {
        color: @azul4;
        text-decoration: underline;
        font-size: 0.9em;
    }
}
.ScrollTop {
	position: fixed;
	bottom: 1.4em;
	right: 2.4em;
	width: 24px;
	height: 24px;
	z-index: 10;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	i {
		background: darken(@azul1, 5%);
		color: @blanco;
		font-size: 2.1em;
		border-radius: 0 0 0 0;
		padding: 0.2em;
		transition: all 0.25s ease-in-out;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
	}
	i:hover {
		background: darken(@azul2, 12%);
	}
}