@import url('colors.less');
@import '/public/credito-real/css/bootstrap.css';
@import '/public/credito-real/css/animate.min.css';

.MenuPrincipal {
    background: @blanco;
    height: 95px;
    width: 100%;
    position: fixed;
    z-index: 9;
    @media screen and (min-width: 991px) {
        width: 100%;
    }
    .Logo {
        height: 100%;
        img {
            height: 95px;
        }
    }
    .Desktop, .Mobile {
        display: inline-block;
        vertical-align: middle;
    }
    .Mobile {
        display: inline-block;
        top: 1.8em;
        right: 0.3em;
        position: absolute;
        @media screen and (min-width: 991px) {
            display: none;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            list-style-type: none;
            a {
                color: @azul3;
                margin: 0 0.9em;
                i {
                    color: @gris;
                    font-size: 2.4em;
                }
            }
        }
    }
    .Desktop {
        text-align: right;
        line-height: 20px;
        padding: 1.55em 0 0 0;
        display: none;
        position: relative;
        @media screen and (min-width: 991px) {
            display: block;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            list-style-type: none;
            a {
                color: @azul3;
                margin: 0 0.9em;
                font-size: 0.95em;
            }
        }
    } 
}
.Aprobacion {
    background: url('/credito-real/img/background-credito.jpg') no-repeat center top;
    height: 440px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    .Aproba {
        background: @azul4;
        padding: 0.5em 4em 2.0em 4em;
        border-radius: 1.5em;
        h3 {
            font-size: 1.55em;
            color: @blanco;
        }
        h4 {
            color: @blanco;
            font-weight: 300;
            text-align: left;
            line-height: 1.4em;
            span {
                margin-left: 0.9em;
                font-weight: 500;
            }
        }
    }
    .Leyenda {
        margin-top: 1em;
    }
    .Logo {
        img {
            height: 100px;
            padding: 0.4em;
        }
    }
    h2 {
        color: @azul2;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.0em;
        font-size: 1.6em;
        margin-top: 0.4em;
    }
    h3 {
        font-size: 1.2em;
        font-weight: 700;
        text-transform: initial;
        margin: 1.2em 0;
    }
    h6 {
        color: @azul4;
        margin-bottom: 1.5em;
    }
    .Thumbs {
        width: 100%;
        margin-top: 3em;
        .Thumb {
            display: inline-block;
            vertical-align: top;
            width: 33%;
            .Img {
                width: 100%;
                img {
                    height: 120px;
                    padding: 0.5em;
                    @media screen and (min-width: 991px) {
                        height: 140px;
                        padding: 0.7em;
                    }
                }
            }
            p {
                color: @azul2;
            }
        }
    }
}
.CarouselCreditoUsa {
    width: 100%;
    padding-top: 5.8em;
    @media screen and (min-width: 991px) {
        padding-top: 0;
        width: 100%;
    }
    .carousel-control-prev, .carousel-control-next {
        top: 5.7em;
    }
    .carousel-item {
        // height: 260px;
        // @media screen and (min-width: 991px) {
        //     height: 460px;
        // }
        .carousel-caption {
            width: 50%;
            top: 18%;
            @media screen and (min-width: 991px) {
                width: 30%;
                top: 18%;
            }
            @media screen and (min-width: 1280px) {
                width: 30%;
                top: 18%;
            }
            @media screen and (min-width: 1365px) {
                width: 30%;
                top: 18%;
            }
            @media screen and (min-width: 1600px) {
                width: 30%;
                top: 18%;
            }
            @media screen and (min-width: 1920px) {
                width: 30%;
                top: 18%;
            }
            .btn {
                text-transform: uppercase;
                padding: 0.6em 1.5em;
                font-size: 0.9em;
                font-weight: 600;
            }
            h3 {
                margin: 0.7em 0;
                font-size: 1.7em;
                span {
                    text-transform: initial;
                    font-weight: bold;
                    font-size: 1.8em;
                }
            }
            h5 {
                margin: 0.3em 0 0.6em 0;
            }
            p {
                font-size: 0.9em;
            }
        }
    }
}
.Simulacion {
    text-align: center;
    margin: 2.8em 0 0 0;
    .Title {
        color: @azul2;
        margin-bottom: 2em;
        h1 {
            font-weight: 600 !important;
        }
    }
    .Fil {
        margin: 2em 0;
    }
    .EstimadoText, .EstimadoContent {
        vertical-align: middle;
        display: inline-block;
    }
    .EstimadoText {
        width: 100%;
        color: @azul2;
        font-weight: 500;
        font-size: 0.95em;
        line-height: 1.3em;
        text-align: center;
        @media screen and (min-width: 991px) {
            width: 50%;
            text-align: left;
            color: @azul2;
            font-weight: 500;
            font-size: 0.95em;
            line-height: 1.3em;
        }
        .Img, span {
            display: inline-block;
            vertical-align: middle;
        }
        .Img {
            width: 45%;
            @media screen and (min-width: 991px) {
                width: 17%;
            }
            img {
                width: 100%;
                padding: 1.3em;
                @media screen and (min-width: 991px) {
                    width: 100%;
                    padding: 0;
                }
            }
        }
        span {
            padding-left: 0.5em;
            text-align: center;
            width: 99.5%;margin-bottom: 1em;
            @media screen and (min-width: 991px) {
                text-align: left;
                width: 78.5%;
                margin-bottom: 0em;
            }
        }
    }
    .EstimadoContent {  
        width: 99.7%;
        @media screen and (min-width: 991px) {
            width: 48.2%;
        }
        .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
            width: 100%;
            text-align: center;
            padding: 0.4em 1em;
            border: none;
            border-bottom: 2px solid @azul1;
            border-radius: 0;
        }
        textarea:focus, input:focus, select {
            outline: none !important;
        }
    }
    .Opinion {
        text-align: center;
        color: @azul2;
        font-weight: 600;
        @media screen and (min-width: 991px) {
            text-align: left;
        }
        .form-control {
            border: 2px solid @azul1;
            width: 100%;
            border-radius: 0.6em;
            padding: 1.0em 1.2em;
            height: 202px;
            text-align: center;
            background: none;
            @media screen and (min-width: 991px) {
                text-align: left;
            }
        }
    }
    .form-select {
        background-color: lighten(@negro, 100%);
        border: none;
        border-radius: 2em;
        padding: 0.8em 1.2em;
    }
}
.Aplicar {
    text-align: center;
    margin: 2.5em 0 3em 0;
    .Title {
        color: @azul1;  
        margin-bottom: 3em; 
    }
    .IconThumbs {
        width: 100%;
        .IconThumb {
            display: inline-block;
            vertical-align: top;
            width: 48%;
            border-right: none;
            padding: 0em;
            @media screen and (min-width: 991px) {
                width: 24.6%;
                padding: 0.7em;
                border-right: 3px solid @azul1;
            }
            .Icon {
                .Img {
                    width: 100%;
                    img {
                        height: 120px;
                        padding: 1.3em;
                        @media screen and (min-width: 991px) {
                            height: 170px;
                            padding: 2.5em;
                        }
                    }
                }
                
                p {
                    color: @azul2;
                    line-height: 1.3em;
                    padding: 0 0.5em;
                }
            }
        }
        .IconThumb:last-child {
            border-right: none;
            @media screen and (min-width: 991px) {
                border-right: 0px solid @azul2;
            }
        }
    }
}
.Proceso {
    text-align: center;
    margin: 4em 0 2.5em 0;
    .Title {
        color: @azul1;  
        margin-bottom: 1.5em; 
        h1 {
            font-weight: 600;
            color: @azul2;
        }
    }
    .IconThumbs {
        width: 100%;
        .IconThumb {
            display: inline-block;
            vertical-align: top;
            width: 48.6%;
            padding: 0.7em;
            @media screen and (min-width: 991px) {
                width: 19.6%;
            }
            .Icon {
                .Img {
                    height: 100%;
                    width: 100%;
                    img {
                        height: 120px;
                        padding: 0.3em;
                        @media screen and (min-width: 991px) {
                            height: 180px;
                            padding: 2.2em;
                        }
                    }
                }
                
                p {
                    color: @azul2;
                    line-height: 1.3em;
                    padding: 0 0.5em;
                    font-size: 0.9em;
                }
            }
        }
    }
}
.Leasing {
    text-align: center;
    margin: 4em 0 2.4em 0;
    background: @azul2;
    padding: 3em 0 2.3em 0;
    color: @blanco;
    h2 {
        text-transform: uppercase;
        color: @azul1;
    }
    h4 {
        margin: 1.5em 0 1.7em 0;
        span {
            text-transform: uppercase;
        }
    }
    .Back1 {
        padding: 0.6em 2.5em;
        font-size: 1.4em;
        font-weight: bold;
    }
}
.Subfooter {
    text-align: center;
    margin: 3.8em 0 3.8em 0;
    .Img {
        img {
            height: 140px;
        }
    }
}
footer {
    text-align: center;
    margin: 1em 0 0 0;
    background: @azul3;
    padding: 1em 0 0 0;
    .Img {
        p {
            color: @blanco;
            font-size: 1.6em;
        }
    }
}
.EquiposFinanciar {
    text-align: center;
    margin: 3.5em 0 3em 0;
    .Title {
        margin-bottom: 3em; 
        h2 {
            color: @azul2;
        }
        h6 {
            margin-top: 1em;
            color: @azul2;
        }
    }
    .IconThumbs {
        width: 100%;
        .IconThumb {
            display: inline-block;
            vertical-align: top;
            width: 48.1%;
            padding: 0.7em;
            @media screen and (min-width: 991px) {
                width: 24.6%;
            }
            .Icon {
                .Img {
                    height: 100%;
                    width: 100%;
                    img {
                        height: 95px;
                        padding: 0.3em;
                        @media screen and (min-width: 991px) {
                            height: 190px;
                            padding: 3em;
                        }
                    }
                }
                p {
                    color: @azul2;
                    line-height: 1.3em;
                    padding: 0 0.5em;
                }
            }
        }
    }
}
.EquiposComunes {
    text-align: center;
    margin: 3.5em 0 3em 0;
    .Title {
        margin-bottom: 3em; 
        h2 {
            color: @azul2;
        }
    }
    .IconThumbs {
        width: 100%;
        .IconThumb {
            display: inline-block;
            vertical-align: top;
            width: 49.3%;
            padding: 0.15em;
            @media screen and (min-width: 991px) {
                width: 24.6%;
            }
            .Icon {
                .Img {
                    height: 100%;
                    width: 100%;
                    img {
                        height: 140px;
                        padding: 0em;
                        @media screen and (min-width: 991px) {
                            height: 220px;
                            padding: 0.2em;
                        }
                    }
                }
                .Info {
                    text-align: center;
                    h6 {
                        margin-top: 0.4em;
                        margin-bottom: 1.0em;
                        background: @azul2;
                        color: @blanco;
                        text-align: center;
                        padding: 0.4em 0;
                    }
                    p {
                        color: @azul2;
                        font-weight: 500;
                        line-height: 1.3em;
                        span {
                            color: @azul2;
                        }
                    }
                }
                
            }
        }
    }
}
.EquiposNO {
    text-align: center;
    margin: 5em 0 1em 0;
    @media screen and (min-width: 991px) {
        text-align: center;
    }
    .Title {
        text-align: center;
        margin-bottom: 3em; 
        h2 {
            color: @azul2;
            span {
                color: @azul1;
            }
        }
    }
    .IconThumbs {
        width: 100%;
        .IconThumb {
            display: inline-block;
            vertical-align: top;
            width: 49.1%;
            padding: 0.3em;
            margin-bottom: 1em;
            @media screen and (min-width: 991px) {
                width: 24.6%;
                padding: 0.7em;
            }
            .Icon {
                .Img {
                    height: 100%;
                    width: 100%;
                    img {
                        height: 135px;
                        padding: 0em;
                        @media screen and (min-width: 991px) {
                            height: 220px;
                            padding: 0.2em;
                        }
                    }
                }
                .Info {
                    text-align: center;
                    h6 {
                        margin-top: 0.8em;
                        background: @azul2;
                        color: @blanco;
                        text-align: center;
                        padding: 0.6em 0;
                    }
                    p {
                        margin: 1em 0 0 0;
                        color: @azul2;
                        font-weight: 500;
                        line-height: 1.2em;
                        font-weight: 1.25em;
                        span {
                            color: @azul2;
                        }
                    }
                }
                
            }
        }
    }
}
.QueesArrendar {
    text-align: left;
    margin: 3.5em 0 3em 0;
    padding: 0 0.6em;
    .Title {
        margin-bottom: 3em; 
        h2 {
            color: @azul1;
            margin-bottom: 0.8em;
        }
        h6 {
            color: @azul2;
            text-align: justify;
            line-height: 1.5em;
            font-weight: 300;
            margin: 1.1em 0;
        }
    }
    .Subtitle {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
        color: @azul2;
    }
}
.accordion {
    .accordion-item {
        border: none;
    }
    .accordion-button:not(.collapsed) {
        box-shadow: none !important;
        background: none;
        background: @bg;
    }
    .accordion-header {
        
        padding: 0.2em 0;
        .accordion-button {
            font-weight: 600;
            color: @azul2;
            font-size: 0.6em;
        }
    }
    .accordion-body {
        p {
            text-align: justify;
        }
    }
}
.AppWeb {
    margin-top: 0em;
    padding: 7.9em 0 0 0;
    text-align: center;
    .Title {
        h2 {
            color: @azul2;
        }
        h6{
            color: @azul3;
            margin: 1.3em 0;
        }
    }
    .Formula {
        text-align: center;
        margin-top: 1.5em;
        .FormInput {
            width: 99.4%;
            display: inline-block;
            text-align: left;
            margin: 0.4em 0;
            padding: 0 0.5em;
            @media screen and (min-width: 991px) {
                width: 49.2%;
                padding: 0 3em;
            }
            label {
                padding: 0 0.6em;
            }
        }
        .FormInputOption {
            width: 99.4%;
            display: inline-block;
            text-align: left;
            margin: 0.4em 0;
            padding: 0 0.5em;
            @media screen and (min-width: 991px) {
                width: 99.2%;
                padding: 0 3em;
            }
        }
    }
    .BtnsGo {
        margin-top: 3em;
        margin: 3em 1em 0 1em;
    }
}
.form-control {
    background: lighten(@negro, 75%);
    border: none;
    border-radius: 2em;
    padding: 0.8em 1.2em;
    margin: 0.2em 0;
}
.form-control:focus {
    background: lighten(@negro, 78%);
}
.form-select {
    background-color: lighten(@negro, 75%);
    border: none;
    border-radius: 2em;
    padding: 0.8em 1.2em;
}
.form-check-label {
    font-size: 0.8em;
}
.Codigo {
    margin: 3.4em 0 1.4em 0;
    text-align: center;
    span {
        border:2px solid @gris;
        padding: 0.4em 1.2em;
        font-size: 2.6em;
    }
    .btn {
        margin: 0 1em;
    }
}
.BtnsGo {
    .btn {
        margin: 0 1.6em;
    }
}
.SelfieAvatar {
    margin: 2.9em 0 0.8em 0;
    width: 350px;
    height: 360px;
    object-fit: cover;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    .Img {
        border: 5px solid @azul4;
        height: 100%;
        width: 100%;
        img {
            width: 340px;
            height: 350px;
        }
    }
}
.Minidivider {
    width: 180px;
    height: 3px;
    background: @azul2;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
    text-align: center;
    span {
        position: absolute;
        top: -0.9em;
        left: 43%;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border: 3px solid @azul1;
        border-radius: 50%;
    }
}
.Comprobante {
    img {
        height: 120px;
    }
    .IconThumbs {
        width: 100%;
        .IconThumb {
            display: inline-block;
            vertical-align: top;
            width: 49.1%;
            padding: 0.3em;
            margin-bottom: 1em;
            @media screen and (min-width: 991px) {
                width: 24.6%;
                padding: 0.7em;
            }
        }
    }
}
.TitleComprob {
    h2 {
        color: @azul2;
        text-transform: uppercase;
        font-weight: 600;
    }
    h3 {
        font-size: 1.2em;
        color: @azul2;
    }
    h6{
        color: @azul3;
        margin: 1.3em 0;
        font-weight: italic;
    }
}
.IconNumbers {
    width: 100%;
    margin: 3em 0 0em 0;
    .IconNumber {
        width: 98%;
        display: inline-block;
        vertical-align: top;
        margin: 0.4em 0;
        @media screen and (min-width: 991px) {
            width: 33%;
            margin: 0.4em 0;
        }
        .IconNum {
            span {
                background: @azul2;
                color: @blanco;
                padding: 1em 1.5em;
                border-radius: 50%;
            }
        }
    }
}
.DropDrag {
    margin: 1.6em 0 0 0;
    background: lighten(@gris, 38%);
    padding: 3em 0;
    border-radius: 1em;
    border: 3px dotted @gris;
    @media screen and (min-width: 991px) {
    }
}
.PuntajeCredito {
    text-align: left;
    margin-top: 1.5em;
    .form-check {
        font-size: 1.2em;
    }
    .FormInput {
        width: 99.4%;
        display: inline-block;
        text-align: left;
        margin: 0.4em 0;
        padding: 0 0.5em;
        @media screen and (min-width: 991px) {
            width: 49.2%;
            padding: 0 3em;
        }
        label {
            padding: 0 0.6em;
        }
    }
    .FormInputOption {
        width: 99.4%;
        display: inline-block;
        text-align: left;
        margin: 0.4em 0;
        padding: 0 0.5em;
        @media screen and (min-width: 991px) {
            width: 99.2%;
            padding: 0 3em;
        }
    }
}
.SideNav {
    top: 0;
    left: -332px;
    position: fixed;
    display: none;
    z-index: 998;
    width: 320px;
    opacity: 0;
    background: #ffffff;
    height: 100vh;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4);
    transition: all 0.25s ease-in-out;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
    ul li {
        margin: 3em 0 0 0;
        list-style: none;
        padding: 0 1.4em 0 3em;
        a {
            text-transform: uppercase;
        }
    }
    .AvatarLogo {
        padding: 0 0 !important;
        .Background {
            background: @azul1;
            height: 130px;
            .Img {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}
.SideNavActive {
    display: block;
    opacity: 1;
    left: -32px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}
.SidenavOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    height: 120vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 997;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase !important;
}
.help {
    color: red !important;
    margin-bottom: 0px !important;
}